.feed{
    flex: 0.4;
    border-right: 1px solid var(--twitter-background);
    min-width:fit-content;
    overflow-y: scroll;
}

/* for chrome invisible scrollbar  of overflow-y*/
.feed::-webkit-scrollbar{  
    display: none;
}

/* for other browser invisible scrollbar of overflow-y */
.feed{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.feed-header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
}

.feed-header > h3{
    display: inline-flex;
    justify-content: space-evenly;
    margin-bottom: 0;   
    padding-left: 25%;
    color: gray;
}