

.login-body {
  margin: 0;
  height: 100%;
  min-height: 100vh;
  background-color: #9900ff !important;
}


  h1{
    text-align: center;
    margin-top: 0px;
  }
  
  .innerBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 400px;
    height: fit-content;
    width: fit-content;
    background: #fff;
    box-shadow: 1px 1px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    /* background-color: #c3b2cf; */
  }

  .footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer button{
    margin-top: 10px;
    outline: none;
    border: none;
    background-color: var(--twitter-color);
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 16px;
    width: 100%;
    transition: 100ms;
  }
  
  .footer button:hover{
    background-color: var(--twitter-color);
  }

  .footer p{
     font-weight: 700;
     color: #000;
  }

  .footer p span a{
    font-weight: bold;
    color: var(--twitter-color);
    letter-spacing: 1px;
    font-size: 1rem;
    text-decoration: none;
  }

 /* SuccessAlert.css */
.success-alert {
  background-color: #4caf50; /* Green background color */
  color: white; /* White text color */
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto; /* Center horizontally */
  position: fixed; /* Fixed position to stay at the top */
  top: 20px;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  width: fit-content;/* Adjust the width as needed */
  height: fit-content;
  text-align: center; /* Center the text */
  font-weight: 700;
}

 
  