body{
  --twitter-color:#1DA1F2 !important;
  --twitter-background: #e6ecf0 !important;
  background-image: none;
}

.app{
  height: 100vh;
  display: flex;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}